@import '../../styles/admin-variables';
@import '../../styles/admin-mixins';

.chart-container {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding-top: 20px;

	&__chart-item {
		background-color: #fff;
		box-sizing: border-box;
		margin: 25px 10px 10px;
		min-width: 550px;
		min-height: 300px;
		width: 550px;
	}

	.mat-card-footer {
		position: relative;
	}
}

.chart-container__chart-header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 20px;

	&-text {
		flex: 0 1 auto;
		font-size: 20px;
		line-height: 20px;
	}
}

.chart-container__chart-content {
	@include box-shadow();

	color: #fff;

	&--is-proposal {
		background: linear-gradient(to top right, #a1dd9d 0%, #60d058 100%);
	}
}

.chart-container__chart-footer {
	box-sizing: border-box;
	padding-top: 15px;
	border-top: 1px solid rgba(180, 180, 180, 0.3);
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&-text {
		flex: 0 1 auto;
		font-size: 15px;
		line-height: 15px;
	}
}
