<div class="chart-container">
	<md-card class="chart-container__chart-item">
		<md-card-header class="chart-container__chart-header">
			<div class="chart-container__chart-header-text">Proposals</div>
		</md-card-header>
		<md-card-content class="chart-container__chart-content chart-container__chart-content--is-proposal">
			<x-chartist [data]="data" [type]="type"></x-chartist>
		</md-card-content>
		<md-card-footer class="chart-container__chart-footer">
			<div class="chart-container__chart-footer-text">Updated 5 mins back</div>
		</md-card-footer>
	</md-card>
</div>
