<md-card class="chart-item">
	<md-card-header class="chart-item__chart-header">
		<div class="chart-item__chart-header-text">{{header}}</div>
	</md-card-header>
	<md-card-content class="chart-item__chart-content chart-item__chart-content--is-{{dataType}}">
		<x-chartist [data]="data" [type]="type" [events]="event" [options]="options"></x-chartist>
	</md-card-content>
	<md-card-footer class="chart-item__chart-footer">
		<md-icon class="chart-item__chart-footer-icon">timer</md-icon>
		<span class="chart-item__chart-footer-text">Updated 5 mins back</span>
	</md-card-footer>
</md-card>
