@import '../../styles/admin-variables';
@import '../../styles/admin-mixins';

.chart-item {
	background-color: #fff;
	box-sizing: border-box;
	margin: 10px;
	min-height: 250px;
	width: 450px;
	padding: 18px;

	@include respond-to(tablet) {
		width: 550px;
	}
}

.mat-card-footer {
	position: relative;
}

.chart-item__chart-header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 20px;

	&-text {
		flex: 0 1 auto;
		font-size: 20px;
		line-height: 20px;
		margin-left: -15px;
	}
}

.chart-item__chart-content {
	@include box-shadow();

	color: #fff;

	&--is-proposal {
		background: linear-gradient(to top right, #a1dd9d 0%, #60d058 100%);
	}

	&--is-accounts {
		background: linear-gradient(to top right, #93cede 0%, #49a5bf 100%);
	}
}

.chart-item__chart-footer {
	box-sizing: border-box;
	padding-top: 15px;
	border-top: 1px solid rgba(180, 180, 180, 0.3);
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&-text {
		flex: 0 1 auto;
		font-size: 15px;
		line-height: 15px;
	}
}

.chart-item__chart-footer-icon {
	padding: 5px;
	color: darken($materialIconColor, 10%);
}
