<md-card class="chart-container__chart-item">
	<md-card-header class="chart-container__chart-header">
		<div class="chart-container__chart-header-text">Proposals</div>
	</md-card-header>
	<md-card-content class="chart-container__chart-content chart-container__chart-content--is-proposal">
		<x-chartist [data]="data[0]" [type]="type" [events]="event"></x-chartist>
	</md-card-content>
	<md-card-footer class="chart-container__chart-footer">
		<md-icon class="chart-container__chart-footer-icon">timer</md-icon>
		<span class="chart-container__chart-footer-text">Updated 5 mins back</span>
	</md-card-footer>
</md-card>
<md-card class="chart-container__chart-item">
	<md-card-header class="chart-container__chart-header">
		<div class="chart-container__chart-header-text">New Accounts</div>
	</md-card-header>
	<md-card-content class="chart-container__chart-content chart-container__chart-content--is-accounts">
		<x-chartist [data]="data[1]" [type]="type" [events]="event"></x-chartist>
	</md-card-content>
	<md-card-footer class="chart-container__chart-footer">
		<md-icon class="chart-container__chart-footer-icon">timer</md-icon>
		<span class="chart-container__chart-footer-text">Updated 5 mins back</span>
	</md-card-footer>
</md-card>
