@import '../../styles/admin-variables';
@import '../../styles/admin-mixins';

.chart-item {
	box-sizing: border-box;
	width: 500px;
	min-height: 300px;
	margin: 10px;
	padding: 18px;

	background-color: #fff;

	@include respond-to(tablet) {
		width: 550px;
	}
}

.mat-card-footer {
	position: relative;
}

.chart-item__chart-header {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	padding-bottom: 20px;

	&-text {
		font-size: $font-size-header;
		line-height: 20px;

		flex: 0 1 auto;

		margin-left: -15px;
	}
}

.chart-item__chart-content {
	color: #fff;

	@include box-shadow();

	&--is-proposal {
		background: linear-gradient(to top right, #a1dd9d 0%, #60d058 100%);
	}

	&--is-accounts {
		background: linear-gradient(to top right, #93cede 0%, #49a5bf 100%);
	}
}

.chart-item__chart-footer {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	box-sizing: border-box;
	padding-top: 15px;

	border-top: 1px solid rgba(180, 180, 180, 0.3);

	&-text {
		font-size: $font-size-footer;
		line-height: 15px;

		flex: 0 1 auto;
	}
}

.chart-item__chart-footer-icon {
	padding: 5px;

	color: darken($material-icon-color, 10%);
}
