@import '../../../styles/admin-variables';
@import '../../../styles/admin-mixins';

.card-item {
	box-sizing: border-box;
	width: 300px;
	margin: 25px 10px 10px;

	background-color: #fff;

	@include respond-to(tablet) {
		width: 550px;
	}
}

.card-item__card-header {
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: space-between;

	padding-bottom: 20px;

	&-text {
		font-size: $font-size-header;
		line-height: 20px;

		flex: 0 1 auto;
	}
}

.card-item__card-icon-container {
	position: absolute;

	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	width: 60px;
	height: 60px;
	margin: -15px 5px;
	padding: 10px;

	border-radius: 2px;

	@include box-shadow();

	/* stylelint-disable declaration-colon-space-after */

	&--is-exception {
		background: linear-gradient(to top right, #fad1a3 0%, #e69f47 47%, #eb9028 100%);
	}

	&--is-server {
		background: linear-gradient(to top right, #f8e7e9 0%, #d86472 47%, #ca2b3d 100%);
	}

	&--is-user {
		background: linear-gradient(to top right, #d2ff52 0%, #5be026 100%);
	}

	/* stylelint-enable declaration-colon-space-after */
}

.card-item__card-icon {
	font-size: 40px;
	line-height: 40px;

	color: #fff;
}

.card-item__card-content {
	margin-top: 10px;
	padding-top: 10px;

	border-top: 1px solid rgba(180, 180, 180, 0.3);
}
