<md-sidenav mode="side" opened="true">
	<div class="adm-sidenav-header">
		<div class="adm-sidenav-title">
			<span class="adm-sidenav-title-text">
				Admin Dashboard
			</span>
		</div>
	</div>
	<div class="adm-sidenav-content">
		<md-nav-list>
			<a md-list-item *ngFor="let item of listItems" routerLink="{{item.routerLink}}" routerLinkActive="adm-sidenav-list-item-selected">
				<md-icon md-list-icon class="adm-sidenav-content-icon">{{item.iconLigatureName}}</md-icon>
				<p>{{item.title}}</p>
			</a>
		</md-nav-list>
	</div>
</md-sidenav>
