@import '../../styles/admin-variables';
@import '../../styles/admin-mixins';

.adm-sidenav {
	&-header {
		position: relative;
		z-index: 4;

		height: $sidenav-header-height;

		background-color: $primary-background-color;
	}

	&-title {
		padding: 15px 15px 10px 25px;

		color: lighten(#000, 30%);

		&::after {
			position: absolute;
			bottom: 0;
			left: 25px;

			width: 65%;
			height: 1px;

			content: '';

			background-color: rgba(180, 180, 180, 0.3);
		}

		&-text {
			font-size: $font-size-header;
			font-weight: 400;
			line-height: 25px;

			text-transform: uppercase;
		}
	}
}

.adm-sidenav-content {
	position: relative;

	overflow: auto;

	width: $side-navigation-width;
	height: calc(100% - #{$sidenav-header-height});

	background-color: $primary-background-color;

	&-icon {
		padding-right: 0 !important; /* stylelint-disable-line declaration-no-important */

		color: darken($material-icon-color, 10%);
	}

	a {
		transition: all 0.5s linear;

		&:hover {
			border-radius: 5px;
		}
	}

	p {
		font-size: $font-size-default;
		line-height: 30px;

		padding-left: 15px;
	}

	.adm-sidenav-list-item-selected {
		border-radius: 5px;
		background-color: $list-item-highlight-color;

		@include box-shadow();
	}
}
