<md-sidenav mode="side" opened="true">
	<div class="adm-sidenav-header">
		<div class="adm-sidenav-title">
			<span class="adm-sidenav-title-text">
				Admin Dashboard
			</span>
		</div>
	</div>
	<div class="adm-sidenav-content">
		<md-nav-list>
			<a md-list-item href="#" routerLinkActive="adm-sidenav-list-item-selected" routerLink="">
				<md-icon md-list-icon>apps</md-icon>
				<p>Dashboard</p>
			</a>
		</md-nav-list>
		<md-nav-list>
			<a md-list-item href="#">
				<md-icon>person</md-icon>
				<p>Users</p>
			</a>
		</md-nav-list>
		<md-nav-list>
			<a md-list-item href="#">
				<md-icon>error</md-icon>
				<p>Exceptions</p>
			</a>
		</md-nav-list>
		<md-nav-list>
			<a md-list-item href="#">
				<md-icon>settings</md-icon>
				<p>Settings</p>
			</a>
		</md-nav-list>
	</div>
</md-sidenav>
