@import '../../styles/admin-variables';
@import '../../styles/admin-mixins';

.adm-sidenav {

	&-header {
		position: relative;
		background-color: $primaryBackgroundColor;
		height: $sideNavigationHeaderHeight;
		z-index: 4;
	}

		&-title {
			padding: 15px 15px 10px 25px;
			color: lighten(#000, 30%);

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				height: 1px;
				left: 25px;
				width: 65%;
				background-color: rgba(180, 180, 180, 0.3);
			}

			&-text {
				text-transform: uppercase;
				font-size: $fontSizeHeader;
				font-weight: 400;
				line-height: 25px;
			}
		}
}

.adm-sidenav-content {
	position: relative;
	width: $sideNavigationWidth;
	overflow : auto;
	height: calc(100vh - #{$sideNavigationHeaderHeight});
	background-color: $primaryBackgroundColor;

	&-icon {
		padding-right: 0px !important;
		color: darken($materialIconColor, 10%);
	}

	a {
		transition: all 0.5s linear;

		&:hover {
			border-radius: 5px;
		}
	}

	p {
		padding-left: 15px;
		font-size: $fontSize;
		line-height: 30px;
	}

	.adm-sidenav-list-item-selected {
		@include box-shadow();

		background-color: $listItemHighlightColor;
		border-radius: 5px;

	}
}
