@import '../../styles/admin-variables';
@import '../../styles/admin-mixins';

.bar-chart-item {
	box-sizing: border-box;
	width: 500px;
	min-height: 300px;
	margin: 10px 0;
	padding: 18px;

	background-color: #fff;
}

.bar-chart-item__chart-header {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	padding-bottom: 20px;

	background-color: #fff;

	&-text {
		font-size: $font-size-header;
		line-height: 20px;

		flex: 0 1 auto;

		margin-left: -15px;
	}
}

.bar-chart-item__chart-content {
	min-height: 170px;

	@include box-shadow();

	&--is-exception {
		background: linear-gradient(to top right, #fad1a3 0%, #e69f47 47%, #eb9028 100%);
	}
}

.bar-chart-item__chart-footer {
	display: flex;
	align-items: center;
	justify-content: flex-start;

	box-sizing: border-box;
	padding-top: 15px;

	border-top: 1px solid rgba(180, 180, 180, 0.3);
	background-color: #fff;

	&-text {
		font-size: $font-size-footer;
		line-height: 15px;

		flex: 0 1 auto;
	}
}

.bar-chart-item__chart-footer-icon {
	padding: 5px;

	color: darken($material-icon-color, 10%);
}
