@import './admin-variables';

#user-grid {
	.ag-header-cell[colid='status'] {
		.ag-header-cell-label {
			text-align: center;
		}
	}

	.ag-body-container {
		.ag-row {
			.ag-cell-value[colid='status'] {
				display: flex;
				align-items: center;
				flex-direction: row;
				justify-content: center;
			}

			.ag-cell-value[colid='remaining'] {
				text-align: right;
			}
		}

		.ag-row--change-status-offline {
			animation-name: highlight-row;
			animation-duration: 3s;
			animation-iteration-count: 1;
		}
	}

	.ag-menu {
		transition: opacity 0.5s ease-in-out;

		opacity: 0.2;
		border: 0;

		&:hover {
			opacity: 1;
		}
	}

	@keyframes highlight-row {
		from {
			font-weight: normal;
		}

		25% {
			font-weight: bold;
		}

		50% {
			font-weight: bolder;
		}

		to {
			font-weight: normal;
		}
	}
}
