@import './admin-variables';

@mixin box-shadow() {
	box-shadow: 1px 1px 18px 4px rgba(57, 50, 50, 0.43);
	-webkit-box-shadow: 1px 1px 18px 4px rgba(57, 50, 50, 0.43);
	-moz-box-shadow: 1px 1px 18px 4px rgba(57, 50, 50, 0.43);
}

@mixin respond-to($media) {
	@if $media == tablet {
		@media only screen and (max-width: #{$horizontal-display-width - 1px}) {
			@content;
		}
	}

	@else if $media == desktop {
		@media only screen and (min-width: #{$horizontal-display-width}) {
			@content;
		}
	}

	@else if $media == tablet-landscape {
		@media only screen and (max-height: #{$tablet-landscape-height - 1px}) {
			@content;
		}
	}
}
