@import 'admin-variables';

html {
	font-family: $font-stack;
}

body {
	font-size: $font-size-default;

	padding-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-stack;
	font-weight: 300;
	line-height: 1.5em;
}

body.yellow-submarine::-webkit-scrollbar,
body.yellow-submarine ::-webkit-scrollbar {
	width: 7px;
	height: 7px;

	background: #98a3a3;
}

body.yellow-submarine::-webkit-scrollbar-thumb,
body.yellow-submarine ::-webkit-scrollbar-thumb {
	border-radius: 4px;
}
