@import './admin-variables';

.ct-grid,
.ct-series-a .ct-line,
.ct-series-a .ct-point {
	stroke: $line-chart-stroke-color;
}

.ct-label {
	color: $line-chart-label-color;
}

.ct-bar {
	stroke-width: $bar-chart-width;
}

.ct-series-a .ct-bar {
	stroke: $bar-chart-stroke-color;
}
