@import './admin-variables';
@import './../../node_modules/@angular/material/theming';
@import './../components/chart/pie-chart-theme.component';
@import './../components/exceptions/exceptions-theme.component';
@import './../components/shared/grid-pagination/grid-pagination-theme.component';
@import './../components/sidenav/sidenav-theme.component';
@import './../components/users/users-theme.component';

@mixin admin-app-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);
	$background: map-get($theme, background);
	$foreground: map-get($theme, foreground);

	body.yellow-submarine::-webkit-scrollbar-thumb,
	body.yellow-submarine ::-webkit-scrollbar-thumb {
		background: darken(mat-color($primary, 300), 10%);
	}

	@include component-exceptions-theme($theme);
	@include component-grid-pagination-theme($theme);
	@include component-pie-chart-theme($theme);
	@include component-sidenav-theme($theme);
	@include component-user-theme($theme);
}
