$fontStack: "Roboto", "Helvetica", "Arial", sans-serif;
$fontSize: 14px;
$fontSizeHeader: 16px;

$primaryDarkColor: #000;
$primaryBackgroundColor: #fafafa;
$listItemHighlightColor: #ffd740;
$materialIconColor: #a9afbb;
$line-chart-stroke-color: #fff;
$line-chart-label-color: #fff;

$sideNavigationWidth: 250px;
$sideNavigationHeaderHeight: 50px;
$selectedListItemMargin: 15px;

$primaryContentLeftPadding: 15px;
