@import 'admin-variables';

#user-grid {
	.ag-header-cell[colid='status'] {
		.ag-header-cell-label {
			text-align: center;
		}
	}

	.ag-body-container {
		.ag-row {
			.ag-cell-value[colid='status'] {
				display: flex;
				align-items: center;
				flex-direction: row;
				justify-content: center;
			}

			.ag-cell-value[colid='remaining'] {
				text-align: right;
			}
		}
	}

	.ag-menu {
		transition: opacity 0.5s ease-in-out;

		opacity: 0.2;
		border: 0;

		&:hover {
			opacity: 1;
		}
	}
}
