@import './admin-variables';
@import './admin-mixins';

.owl-moment-picker {
	font-family: $font-stack;
	font-size: $font-size-default;

	color: lighten($primary-dark-color, 20%);

	&.owl-picker-popup {
		max-width: 340px;
		max-height: 460px;

		@include box-shadow();
	}
}

.owl-moment-picker-banner {
	height: 15px;
}

.owl-moment-picker-moment {
	.owl-moment-date {
		.big {
			font-size: 17px;
		}
	}
}
