$font-stack: "Roboto", "Helvetica", "Arial", sans-serif;
$font-size-default: 14px;
$font-size-header: 20px;
$font-size-footer: 15px;

$primary-dark-color: #000;
$primary-background-color: #fafafa;
$primary-pallete-color: #ffd740;
$list-item-highlight-color: #ffd740;
$material-icon-color: #a9afbb;
$line-chart-stroke-color: #fff;
$line-chart-label-color: #fff;
$bar-chart-stroke-color: #fd4245;

$side-navigation-width: 250px;
$sidenav-header-height: 50px;
$main-content-min-width: 1200px;
$user-grid-min-height: 700px;
$exception-grid-min-height: 400px;
$bar-chart-width: 25px;

$selected-list-item-margin: 15px;
$primary-content-left-padding: 15px;
$primary-border-radius: 3px;

$tablet-landscape-height: 640px;
$horizontal-display-width: 1362px;
