@import 'admin-variables';
@import 'admin-mixins';

/* stylelint-disable  selector-type-no-unknown */
md-sidenav-container {
	height: 100vh;
}

md-sidenav {
	@include box-shadow();
}
/* stylelint-enable */

.mat-list-item {
	margin: $selected-list-item-margin $selected-list-item-margin;
}

/* override overflow:auto set by material.css */
.mat-sidenav-content {
	overflow-y: hidden !important; /* stylelint-disable-line declaration-no-important */
}
