@import '../../styles/admin-variables';
@import '../../styles/_admin-mixins';

/* stylelint-disable  selector-type-no-unknown */

md-sidenav-container {
	height: 100vh;
}

/* stylelint-enable selector-type-no-unknown */

.main-content-wrapper {
	min-width: $main-content-min-width;
	height: 100vh;
	margin-left: $side-navigation-width;
	padding-bottom: 0;
	padding-left: 15px;

	@include respond-to(tablet-landscape) {
		overflow-y: hidden;
	}
}

.app-toolbar-menu {
	color: wheat;
}

.app-toolbar-filler {
	flex: 1 1 auto;
}
