@import './../../../node_modules/@angular/material/theming';
@import './../../styles/admin-mixins';

@mixin component-exceptions-theme($theme) {
	$primary: map-get($theme, primary);
	$foreground: map-get($theme, foreground);

	.exception-card-item__card-header {
		@include linear-gradient($primary);

		&-text {
			color: mat-color($foreground, text);
		}
	}
}
