<div class="exception-container">
	<div class="exception-container-charts">
		<adm-chart [header]="barChart.header" [data]="barChart.data" [dataType]="barChart.type"
			[type]="barChart.chartType"></adm-chart>
		<adm-chart [header]="pieChart.header" [data]="pieChart.data" [dataType]="pieChart.type"
			[type]="pieChart.chartType"></adm-chart>
	</div>
	<div class="exception-container-grid">
		<md-card class="card-item">
			<md-card-header class="card-item__card-header">
				<div class="card-item__card-header-text">Exceptions</div>
			</md-card-header>
			<md-card-content class="card-item__card-content">
				<ag-grid-angular #agGrid style="width: 100%; height: 85%;"
					class="ag-material card-item__card-content-grid"
					[gridOptions]="gridOptions" [columnDefs]="masterColumnDefs"
					[rowData]="rowData" id="exception-grid">
				</ag-grid-angular>
			</md-card-content>
		</md-card>
	</div>
</div>
