<div class="pagination-card-item__card-content">
	<div class="pagination-card-item__card-content-left-text">
		<span>{{startIndex}} to {{lastIndex}} of {{totalRecords}}</span>
	</div>
	<div class="pagination-card-item__card-content-right-action">
		<button md-raised-button
				color="accent"
				(click)="refreshPageView('first')"
				[disabled]="disableFirstAndPrevious">
			First
		</button>
		<button md-raised-button
				color="accent"
				(click)="refreshPageView('previous')"
				[disabled]="disableFirstAndPrevious">
			Previous
		</button>
		<span class="pagination-card-item__card-content-right-action-text">
			Page {{currentPage + 1}} of {{totalPage}}
		</span>
		<button md-raised-button
				color="accent"
				(click)="refreshPageView('next')"
				[disabled]="disableNextAndLast">
			Next
		</button>
		<button md-raised-button
				color="accent"
				(click)="refreshPageView('last')"
				[disabled]="disableNextAndLast">
			Last
		</button>
	</div>
</div>
