@import './../../../node_modules/@angular/material/theming';
@import './../../styles/admin-mixins';

@mixin component-upload-theme($theme) {
	$primary: map-get($theme, primary);
	$foreground: map-get($theme, foreground);

	.upload-card-item__card-header {
		@include linear-gradient($primary);

		&-text {
			color: mat-color($foreground, text);
		}
	}

	.upload-grid-tile__footer-icon,
	.upload-grid-tile__header-icon {
		color: mat-color($foreground, icon);
	}
}
