<div class="upload-container">
	<div class="upload-container-input-form">
		<md-card class="upload-form-card-item">
			<md-card-header class="upload-form-card-item__card-header">
				<div class="upload-form-card-item__card-header-text">Upload image</div>
			</md-card-header>
			<md-card-content class="upload-form-card-item__card-content">
				<form class="upload-form-card-item__form">
					<table class="upload-form-card-item__form-table">
						<tr>
							<td>
								<md-input-container class="upload-form-card-item__form-table-log-number" color="accent">
									<input mdInput placeholder="Log Number">
								</md-input-container>
							</td>
							<td>
								<md-input-container class="upload-form-card-item__form-table-display-name" color="accent">
									<input mdInput placeholder="Display Name">
								</md-input-container>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<md-input-container class="upload-form-card-item__form-table-description" color="accent">
									<input mdInput placeholder="Description">
								</md-input-container>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<md-input-container class="upload-form-card-item__form-table-purpose" color="accent">
									<input mdInput placeholder="Purpose">
								</md-input-container>
							</td>
						</tr>
						<tr>
							<td>
								<md-input-container class="upload-form-card-item__form-table-provider" color="accent">
									<input mdInput placeholder="Provider">
								</md-input-container>
							</td>
							<td>
								<button md-raised-button color="accent">Choose File</button>
							</td>
						</tr>
					</table>
					<div class="upload-form-card-item__form-preview">

					</div>
				</form>
			</md-card-content>
		</md-card>
	</div>
	<div class="upload-container-grid-list">
		<md-card class="upload-card-item">
			<md-card-header class="upload-card-item__card-header">
				<div class="upload-card-item__card-header-text">Uploads</div>
			</md-card-header>
			<md-card-content class="upload-card-item__card-content ">
				<md-grid-list cols="4" gutterSize="20">
					<md-grid-tile *ngFor="let tile of logos" class="upload-grid-tile" [class.upload-grid-tile--is-archived]="tile.status === 'disable'">
						<md-grid-tile-header class="upload-grid-tile__header">
							<md-input-container class="upload-grid-tile__header-input-container" color="accent" [mdTooltip]="test" [mdTooltipPosition]="below">
								<input class="upload-grid-tile__header-input" mdInput type="text" [(ngModel)]="tile.logoName" floatPlaceholder="never">
							</md-input-container>
							<div class="upload-grid-tile__header-icon-container">
								<span mdTooltip="archive" [mdTooltipShowDelay]="0.3">
								<md-icon class="upload-grid-tile__header-icon upload-grid-tile__header-icon--is-close" (click)="archive(tile)">
									close
								</md-icon>
							</span>
							</div>
						</md-grid-tile-header>
						<img [alt]="tile.logoName" src="{{tile.url}}" />
						<md-grid-tile-footer class="upload-grid-tile__footer">
							<div class="upload-grid-tile__footer-icon">
								<md-icon class="upload-grid-tile__footer-icon--is-update">
									update
								</md-icon>
								<span class="upload-grid-tile__footer-icon-text">{{tile.update}}</span>
							</div>
							<div class="upload-grid-tile__footer-icon-save">
								<span mdTooltip="save" [mdTooltipShowDelay]="0.3">
								<md-icon class="upload-grid-tile__footer-icon upload-grid-tile__footer-icon--is-save" (click)="save(tile,index)">
									save
								</md-icon>
							</span>
							</div>
						</md-grid-tile-footer>
					</md-grid-tile>
				</md-grid-list>
			</md-card-content>
		</md-card>
	</div>
</div>
