@import './../../styles/admin-theme';

$primary: mat-palette($mat-amber);
$accent: mat-palette($mat-cyan, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
@include admin-app-theme($theme);
