@import '../../styles/admin-variables';
@import '../../styles/admin-mixins';

.card-container {
	position: relative;

	display: flex;
	align-content: space-between;
	flex-flow: row wrap;
	justify-content: space-between;

	margin: 0 20px;
	padding-top: 20px;

	@include respond-to(tablet) {
		align-items: center;
		flex-flow: column;
		justify-content: center;
	}
}

.chart-container {
	position: relative;

	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	margin: 0 20px;
	padding-top: 20px;

	@include respond-to(tablet) {
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}
}
