@import '../../styles/admin-variables';
@import '../../styles/admin-mixins';

.card-container {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	align-content: space-between;
	justify-content: space-around;
	padding-top: 20px;

	@include respond-to(tablet) {
		flex-flow: column;
		justify-content: center;
		align-items: center;
	}

	&__card-item {
		background-color: #fff;
		box-sizing: border-box;
		margin: 25px 10px 10px;
		width: 300px;

		@include respond-to(tablet) {
			width: 550px;
		}
	}
}

.card-container__card-header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 20px;

	&-text {
		flex: 0 1 auto;
		font-size: 20px;
		line-height: 20px;
	}
}

.card-container__card-icon-container {
	@include box-shadow();

	position: absolute;
	height: 60px;
	width: 60px;
	padding: 10px;
	margin: -15px 5px;
	border-radius: 2px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	/* stylelint-disable declaration-colon-space-after */

	&--is-exception {
		background: linear-gradient(to top right, #fad1a3 0%, #e69f47 47%, #eb9028 100%);
	}

	&--is-server {
		background: linear-gradient(to top right, #f8e7e9 0%, #d86472 47%, #ca2b3d 100%);
	}

	&--is-user {
		background: linear-gradient(to top right, #d2ff52 0%, #5be026 100%);
	}

	/* stylelint-enable declaration-colon-space-after */
}

.card-container__card-icon {
	color: #fff;
	font-size: 40px;
	line-height: 40px;
}

.card-container__card-content {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid rgba(180, 180, 180, 0.3);
}

.chart-container {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding-top: 20px;

	@include respond-to(tablet) {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
