<h1>primary dashboard content</h1>
<div class="card-container">
	<md-card class="card-container__card-item">
		<md-card-header>
			<md-card-title>Card 1</md-card-title>
		</md-card-header>
		<md-card-content>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Conse quuntur, rem, animi. Harum dolor sequi provident temporibus
				nihi l quasi doloremque sapiente.
			</p>
		</md-card-content>
		<md-card-footer>
			card footer
		</md-card-footer>
	</md-card>
	<md-card class="card-container__card-item">
		<md-card-header>
			<md-card-title>Card 2</md-card-title>
		</md-card-header>
		<md-card-content>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Conse quuntur, rem, animi. Harum dolor sequi provident temporibus
				nihi l quasi doloremque sapiente.
			</p>
		</md-card-content>
		<md-card-footer>
			card footer
		</md-card-footer>
	</md-card>
	<md-card class="card-container__card-item">
		<md-card-header>
			<md-card-title>Card 3</md-card-title>
		</md-card-header>
		<md-card-content>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Conse quuntur, rem, animi. Harum dolor sequi provident temporibus
				nihi l quasi doloremque sapiente.
			</p>
		</md-card-content>
		<md-card-footer>
			card footer
		</md-card-footer>
	</md-card>
</div>
