@import '../../../styles/admin-variables';
@import '../../../styles/admin-mixins';

.datetime-filter-container {
	font-family: $font-stack;
	font-size: $font-size-default;

	position: relative;

	min-width: 170px;

	border: 0;

	@include box-shadow();
}

.datetime-filter-container__input-pickers {
	position: relative;

	display: flex;
	align-items: flex-start;
	flex-flow: column nowrap;
	justify-content: space-between;

	box-sizing: border-box;
	height: 100%;
	padding: 15px;
}

.datetime-input-pickers__from-item,
.datetime-input-pickers__to-item {
	width: 100%;
}
