<div class="datetime-filter-container">
	<div class="datetime-filter-container__input-pickers">
		<md-input-container class="datetime-input-pickers__from-item">
			<input mdInput [value]="momentValueFrom | date: 'short'" [(ngModel)]="momentValueFrom"
				dateTimePicker [showSeconds]="true" readonly placeholder="From"
				(onChange)="setMoment($event)" (click)="inputIdentifier('fromVal')" />
		</md-input-container>
		<md-input-container class="datetime-input-pickers__to-item">
			<input mdInput [value]="momentValueTo | date: 'short'" [(ngModel)]="momentValueTo"
				dateTimePicker [showSeconds]="true" readonly placeholder="To"
				(onChange)="setMoment($event)" (click)="inputIdentifier('toVal')" />
		</md-input-container>
		<button md-raised-button color="accent" (click)="resetFilter()">Reset</button>
	</div>
</div>
