@import '../../styles/admin-variables';
@import '../../styles/admin-mixins';

.sidenav-header-container {
	position: relative;
	z-index: 4;

	height: $sidenav-header-height;

	&__title {
		padding: 15px 15px 10px 25px;

		color: lighten(#000, 30%);

		&::after {
			position: absolute;
			bottom: 0;
			left: 25px;

			width: 65%;
			height: 1px;

			content: '';

			background-color: rgba(180, 180, 180, 0.3);
		}

		&-text {
			font-size: $font-size-header;
			font-weight: 400;
			line-height: 25px;

			text-transform: uppercase;
		}
	}
}

.sidenav-container {
	position: relative;

	overflow: auto;

	width: $side-navigation-width;
	height: calc(100vh - #{$sidenav-header-height});
}

.sidenav-container-list {
	&__icon {
		padding-right: 0 !important; /* stylelint-disable-line declaration-no-important */
	}
}

.sidenav-container-list__item {
	transition: all 0.5s linear;

	&:hover {
		border-radius: 5px;
	}

	&-text {
		font-size: $font-size-default;
		line-height: 30px;

		padding-left: 15px;
	}

	&--is-selected {
		border-radius: 5px;

		@include box-shadow();
	}
}

.mat-sidenav {
	height: 100vh;
}
