/* stylelint-disable */
@import './styles/admin-global';

@import '../node_modules/normalize.css/normalize';

@import '../node_modules/@angular/material/theming';
@import './styles/admin-theme';

@include mat-core();

$primary: mat-palette($mat-amber);
$accent: mat-palette($mat-cyan, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

@import '../node_modules/chartist/dist/chartist';
@import './assets/fonts/material-icons';
@import '../node_modules/ag-grid/dist/styles/ag-grid';
@import '../node_modules/ag-grid/dist/styles/theme-material';
@import '../node_modules/ng-pick-datetime/styles/picker.min.css';

@include admin-app-theme($theme);

@import './styles/admin-chart';
@import './styles/admin-date-time-picker';
@import './styles/admin-grid';
@import './styles/admin-grid-user';
@import './styles/admin-grid-exception';
@import './styles/admin-pagination';
@import './styles/admin-sidenav';
/* stylelint-enable */
